<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demologin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heart_launcher"
        android:label="Hospital Management System"
        android:roundIcon="@mipmap/heart_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".patient_profile"></activity>
        <activity android:name=".Calender" />
        <activity android:name=".cardio2" />
        <activity android:name=".cardio1" />
        <activity android:name=".skin2" />
        <activity android:name=".skin1" />
        <activity android:name=".onto2" />
        <activity android:name=".onto1" />
        <activity android:name=".eye2" />
        <activity android:name=".eye1" />
        <activity android:name=".gyno2" />
        <activity android:name=".Gyno1" />
        <activity android:name=".skin" />
        <activity android:name=".ontocologist" />
        <activity android:name=".eye" />
        <activity android:name=".cardio" />
        <activity android:name=".gyno" />
        <activity android:name=".PatientAppointment" />
        <activity android:name=".doctor_login" />
        <activity android:name=".PatientFeedback" />
        <activity android:name=".Forget_password" />
        <activity android:name=".Home_page" />
        <activity android:name=".search" />
        <activity android:name=".UserType" />
        <activity android:name=".DoctorRegister" />
        <activity android:name=".UserRegister" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>